#my-wordpress-plugin {
    .plugin-help {
        color: #555d66;
        font-size: 18px;
        font-style: normal;
        margin: 0px;
        padding: 40px 0px 0px;
        text-align: center;
    }

    .plugin-form {
        background: #fafafa;
        border: 1px solid #e5e5e5;
        padding: 30px;
        margin: 30px auto;
        max-width: 420px;
    }
}